backports.functools-lru-cache==1.4
backports.weakref==1.0.post1
bleach==1.5.0
boto3==1.4.7
botocore==1.7.43
click==6.7
cycler==0.10.0
docutils==0.14
enum34==1.1.6
Flask==0.12.2
funcsigs==1.0.2
futures==3.1.1
h5py==2.7.1
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
Keras==2.1.0
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.0
mock==2.0.0
MySQL-python==1.2.5
numpy==1.13.3
olefile==0.44
pbr==3.1.1
Pillow==4.3.0
pkg-resources==0.0.0
protobuf==3.4.0
PyMySQL==0.7.11
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
ruamel.ordereddict==0.4.13
ruamel.yaml==0.15.34
s3transfer==0.1.11
scipy==1.0.0
six==1.11.0
subprocess32==3.2.7
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc2
Werkzeug==0.12.2
